* {
  .artigos {
    text-align: center;
    padding: 40px 0;
  }

  .artigos h1 {
    text-align: center; /* Mantém o texto centralizado */
    font-size: 25px;
    margin-top: 100px; /* Controla a distância do topo */
    margin-bottom: 60px; /* Controla a distância para o conteúdo abaixo */
    margin-left: -700px; /* Move o título um pouco mais para a esquerda */
    color: #4c8ad4;
    font-weight: 200; /* Define a espessura da fonte mais fina */
  }

  /* Estilos gerais da barra de pesquisa */
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Estilos para o campo de texto (input) */
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    color: #333;
  }

  /* Placeholder estilizado */
  .search-bar input[type="text"]::placeholder {
    color: #aaa;
  }

  /* Estilos do botão */
  .search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
  }

  /* Estilos do ícone dentro do botão */
  .search-bar button img {
    width: 20px;
    height: 20px;
  }

  .artigos-container {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 5px; /* Adiciona um pequeno espaçamento entre os cartões */
  }

  .artigo-card {
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 20px 20px;
    box-shadow: 0 2px 10px rgba(230, 225, 225, 0.89);
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Mantém a cor do texto ao invés de mudar para a cor padrão do link */
  }

  .artigo-card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card suavemente no hover */
  }

  .artigo-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in-out; /* Transição suave na imagem */
  }

  .artigo-card img:hover {
    transform: scale(
      1.1
    ); /* Aplica o efeito de zoom na imagem ao passar o mouse */
  }

  .artigo-card .data {
    color: #888;
    font-size: 10px;
    padding: 15px;
  }

  .artigo-card h2 {
    padding: 0 10px;
    font-size: 18px;
    color: #333;
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .search-bar {
    width: 90%;
    max-width: 300px;
  }

  .search-bar input[type="text"] {
    font-size: 14px;
  }

  .search-bar button img {
    width: 18px;
    height: 18px;
  }
}

/* Nova pagina ao Clicar*/
